
<div class="dashboard-data">
  <!-- <div class="courasel">
    <div class="cou-content">
      <img src="https://img.freepik.com/free-psd/social-media-banner-happy-easter-today-could-be-great-day_220664-2868.jpg?w=1060&t=st=1659522173~exp=1659522773~hmac=948d16daae44ee92b502256318236ed8ea0e9a10575989f63da04a09a84f2547">
    </div>
  </div> -->
  <div class="content">
    <div class="card" *ngFor="let item of items">
      <div class="card-content">
        <div class="card-label">
          {{item?.label}}
          <p>Asdasdadsas</p>
        </div>
        <div class="card-price">
          ₹ {{item?.price}}
        </div>
        <!-- <button class="shop" [routerLink]="'details'">SHOP NOW</button> -->
        <button class="shop" (click)="shop(item.sno)" >SHOP NOW</button>
      </div>
        <div class="img-url" style="background: url({{item?.url}});">
          <!-- <img src="{{item?.url}}"> -->
        </div>
    </div>
  </div>
</div>
