
<div class="dashboard-data">
  <div class="content">
    <div class="card" *ngFor="let item of items">
      <div class="card-content">
        <div class="card-label">
          {{item?.label}}
          <p>Asdasdadsas</p>
        </div>
        <div class="card-price">
          ₹ {{item?.price}}
        </div>
        <!-- <button class="shop" [routerLink]="'details'">SHOP NOW</button> -->
        <button class="shop" (click)="shop(item.sno)" >SHOP NOW</button>
      </div>
        <div class="img-url" style="background: url({{item?.url}});">
          <!-- <img src="{{item?.url}}"> -->
        </div>
    </div>
  </div>
</div>
