.side {
  position: fixed;
  height: 85vh;
  background-color: #4b818d;
  color: white;
  width: 80px;
  transition: 0.5s;
  z-index: 1;
  border-radius: 15px;
  padding: 20px 0px;
  margin: 15px 0px 10px 10px;

  i {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 30px;
  }
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  li{
    margin: 25px 0px;
    transition: .5s;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.side:hover {
  width: 250px;

  i {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    font-size: 30px;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 25px 0px;
  }
  .active {
    margin: 0px 10px !important;
    border-radius: 25px;
  }
}

.item:hover {
  color: darkslategray;
  background-color: white;
  border-radius: 25px;
  margin: 25px 10px !important;
}
.active {
  color: darkslategray;
  background-color: white;
  border-radius: 25px 0px 0px 25px;
  margin-left: 8px !important;
  position: relative;
}

.active .top-b {
  position: absolute;
  height: 20px;
  width: 25%;
  top: -20px;
  left: 75%;
  background-color: white;
}

.active .top-f {
  position: absolute;
  height: 20px;
  width: 25%;
  top: -20px;
  left: 75%;
  border-bottom-right-radius: 10px;
  background-color: #4b818d;
}

.active .bottom-b {
  position: absolute;
  height: 20px;
  width: 25%;
  top: 60px;
  left: 75%;
  background-color: white;
}

.active .bottom-f {
  position: absolute;
  height: 20px;
  width: 25%;
  top: 60px;
  left: 75%;
  border-top-right-radius:10px;
  background-color: #4b818d;
}
.scroll {
  height: 98%;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
}
