<div class="prod">
  <div class="prod-cnt-up">
    <div class="prod-img col-sm-6" >
      <div class="prod-img-cnt">
      <div class="main-img">
        <img src="https://img.freepik.com/premium-photo/3d-rendered-modern-gray-chair-with-wooden-legs-white-background_181624-57980.jpg?size=626&ext=jpg&ga=GA1.2.523764454.1646463257" >
      </div>
      <div class="img-thumb" style="background-image: url(https://img.freepik.com/premium-photo/3d-rendered-modern-gray-chair-with-wooden-legs-white-background_181624-57980.jpg?size=626&ext=jpg&ga=GA1.2.523764454.1646463257)">
      </div>
      </div>
      <div class="similar-prod">
        <hr>
      </div>
    </div>
    <div class="prod-bsc-cnt col-sm-6">
      <div class="head">
        <h1>TableOne</h1>
        <i class="fa fa-heart-o" *ngIf="!toogleWish" aria-hidden="true" (click)="toogleWish = !toogleWish"></i>
        <svg-icon [class]="'svg'" *ngIf="toogleWish" src="../../../assets/red-heart-icon.svg" (click)="toogleWish = !toogleWish"></svg-icon>
      </div>
      <p>A unit which has comfort and contains asdas asdasdasdas fgjgfhsddfhb gffgnbDZXfs sdfFETRVDF fgdfgg gdhdghfdghsad adsjflsdkaf asfkhasdjkfh dsfkjahf.</p>
      <h2>₹ 42,500</h2>
      <div class="rating">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span> 551 reviews..</span>
      </div>
      <div class="colors">
        <h3>Colours:</h3>
        <div class="circle">
          <i class="fa fa-circle" style="color: {{a}}" *ngFor="let a of ['#f1aa5f', '#96908d', '#69778d', '#6d704d', '#254054']"></i>
        </div>
      </div>
      <div class="buy">
        <button class="btn">Buy Now</button>
        <button class="btn">Add to Basket</button>
      </div>
      <div class="chk-loc">
        <h5>Check Location:</h5>
        <input type="text">
        <i class="bi bi-search"></i>
      </div>
      <div class="chk-loc">
        <h5>Delivery Charges: ₹50</h5>
      </div>
      <div class="casback">
        <label>7 days Cashback</label>
        <label>1 Year Warranty</label>
      </div>
    </div>
  </div>
  <div class="prod-cnt-down">
  </div>
</div>
